# Supabase
SUPABASE_URL=
SUPABASE_KEY=

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/medisight

# App
APP_NAME=MediSight AI
DEBUG=true
SECRET_KEY=

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# Model Paths
MODEL_DIR=./models
BEST_MODEL_PATH=./models/best_model.pth
